{
  "batch_size": 16,
  "nb_classes": 4,
  "nb_epoch": 12,
  "img_rows": 96,
  "img_cols": 96,
  "img_channels": 3,
  "start_date": "2015-12-01",
  "end_date": "2015-12-25",
  "slice_by_hour": false,
  "start_hour": 6,
  "end_hour": 20,
  "test_size": 0.2,
  "over_sample": 1,
  "label_name": "2_class",
  "sequence_mode": false,
  "sequence_length": 4,
  "overlap": true,
  "balanced":true,
  "order": "tf",
  "joint_train_vol": 7150,
  "joint_val_vol": 1630,
  "apply_mask": false,
  "use_pickle": false,
  "sky_mask": "/home/maverick/knet/out/cavriglia_skymask_256.png",
  "label_mask": "/home/maverick/knet/out/class/",
  "pickle_file": "/home/maverick/knet/out/2015-08.pickle",
  "meta_file": "/home/maverick/knet/out/master_index.h5",
  "root_dir": "/home/maverick/Desktop/cavriglia_256_files/",

  "parameter_description": {
    "batch_size": "batch size determines the no.of images to feed the network at once eg: 16",
    "nb_classes": "number of classes to categorize the results eg: 3",
    "nb_epoch": "number of training epochs eg: 5",
    "img_rows": "rows in the input vector eg:256",
    "img_cols": "columns in the input vector eg:256",
    "img_channels": "3 for RGB, 1 for grayscale",
    "start_date": "accepts YYYY-MM-DD format eg:2015-08-01",
    "end_date": "accepts YYYY-MM-DD format eg:2015-08-10",
    "slice_by_hour": "select data between particular hour ranges, <boolean>",
    "start_hour": "data slicer should pick images between this hour <00 - 24> eg: 09",
    "end_hour": "until the end hour <00 - 24> eg: 19",
    "test_size": "Ratio of validation data with respect to training data. <0 - 1>, eg: 0.3",
    "over_sample": "To increase the training data, pads more data to rare classes etc, eg: 1=1x, 2=2x data volume,(whole numbers only)"
    "label_name": "Pass the column name of labels being used for the model. eg: 2_class",
    "sequence_mode": "pass image sequence as input <boolean>",
    "sequence_length": "no of images to be combined in one sequence <0 - 10> eg:4",
    "overlap": "Should the timeranges of image sequence be overlapped with each other? overlapping increases training data <boolean>",
    "balanced":"whether the classes should be balanced while generating the data or not? <boolean>",
    "order": "tf",
    "apply_mask": "whether to apply filter mask <boolean>",
    "use_pickle": "whether to load images from pickle datasets? <boolean>",
    "sky_mask": "path to sky_mask.png file",
    "label_mask": "path to the folder** containing class label images",
    "pickle_file": "/home/maverick/knet/out/2015-08.pickle",
    "meta_file": "/home/maverick/knet/out/master_index.h5",
    "root_dir": "/home/maverick/Desktop/cavriglia_256_files/"
  }

}